.App{
  background-color: rgba(255, 235, 205, 0.351);
  margin: 0;
  padding: 0;
}

.generalContainer{
  /* width: 100%; */
}

@media  (min-width: 768px){
  .generalContainer{
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 1024px){
  .generalContainer{
    width: 80%;
    margin: 0 auto;
  }
}