.text{
    text-align: center;
}

.text > div{
    font-size: 50px;
}

@media (min-width:768px){
.container {
    display: flex;
}

.firstSlide{
    flex: 1;
    margin: 5% 15%;
}

.secondSlide{
    flex: 1.5;
}
}